/[Ll]ibrary
/[Ll]ogs
/[Tt]emp
/[Oo]bj
/[Bb]uild*
/Assets/AssetStoreTools*
/Assets/Vts*
/.vs
/ExportedObj
/.consulo
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userprefs
/*.pidb
/*.booproj
/*.svd
/*.pdb
/*.opendb
/*.pidb.meta
/*.pdb.meta
/*.apk
/*.unitypackage
/*.log
sysinfo.txt
.DS_Store
